
<table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
            {{# each skts }}
                <tr>
                    <th scope="row">1</th>
                    <td><img src="{{ this.foto }}" alt="{{ this.nombre }}" width="60" height="60"></td>
                    <td>{{ this.nombre }}</td>
                    <td>{{ this.anos_experiencia}}</td>
                    <td>{{ this.especialidad}}</td>
                    <td><input type="checkbox" 
                        data-idSkater={{ this.id }}
                        {{# if this.estado }}
                            checked
                        {{/ if }}
                        />
                    </td>
                </tr>
            {{/ each }}
          
        </tbody>
      </table>

      <div class="mb-1">
        <button class="btn btn-primary" id="btn_updateAccounts">Actualizar</button>
      </div>